*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg{
    background-image:linear-gradient( 
        270deg
        , rgba(176, 42, 42, .16) 0%, rgba(176, 42, 42, .56) 18.45%, rgba(176, 42, 42, .8) 49.67%, rgba(176, 42, 42, .56) 82.52%, rgba(176, 42, 42, .196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, .16) 99.73%), url('/static/images/bg.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: all 1s;
    z-index: -100;
}
.cover{
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    transition: all 1s;
    position: relative;
    overflow: hidden;
}
.board{
    margin-top: 50px;
    text-align: center;
}
form{
    text-align: center;
    margin: auto;
}
.timetable{
    margin: 30px auto;
    width: 95vw;
    background-color: rgba(240, 243, 244, 1);
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.247);
}
.form-control{
    border:0;
    text-align: center;
    background-color: rgba(240, 243, 244, 1);

}
.form-control:focus{
    outline: none;
    box-shadow: none;
    background-color: rgba(240, 243, 244, 1);

}
.rn{
    border: none;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(240, 243, 244, 1);

}
.rn:focus{
    outline: none;
}