@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP';
}
.bg{
    background-image:linear-gradient( 
        270deg
        , rgba(176, 42, 42, .16) 0%, rgba(176, 42, 42, .56) 18.45%, rgba(176, 42, 42, .8) 49.67%, rgba(176, 42, 42, .56) 82.52%, rgba(176, 42, 42, .196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, .16) 99.73%), url('/static/images/bg.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: all 1s;
    z-index: -100;
}
.cover{
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    transition: all 1s;
    position: relative;
    overflow: hidden;
}
.board{
    margin-top: 50px;
}

.roll-input{
    height:70px;
    margin-top: 50px;
    color: #fff;
    padding: 20px;
    font-size: 2rem;
    padding: 20px auto;
    text-align: center;
    background-color: rgb(221, 169, 169,0);
    border: 2px solid rgb(255,255,255,0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    letter-spacing: 10px;
}
input:focus{
    outline: none;
}