{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/index.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Time Table</title>
</head>
<body>
    <div class="cover">
        <div class="bg"></div>
        <div class="board">
            <h1>Enter 9-digit Roll Number</h1>
            <form method="GET" action="showtable">
                <!-- {% csrf_token %} -->
            <input type="number" class='roll-input' name="rollNumber" id='rollNumber' onfocus="zoomin()" onblur="zoomout()" onkeyup="handleinput()" maxlength="9">
            <button class='go' type="submit">
                <div class="progress"></div>
                <i class="fa fa-forward"></i>
            </button>
            </form>
        </div>
    </div>

    
</body>
<script>
    const zoom = document.querySelector('.bg');
    function zoomin(){
        zoom.style.cssText='transform:scale(1.1);';
    }
    function zoomout(){
        zoom.style.cssText='transform:scale(1.0);';
    }
    function handleinput(){
        const rollNumber=document.querySelector('#rollNumber')
        var roll=rollNumber.value;
        var translate=(-100+(roll.length)*(100/9)).toString()+'%';
        document.querySelector('.progress').style.cssText=`transform:translateX(${translate})`
    }
</script>
</html>